**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/logs
**/*.user
**/*.suo
**/*.cache
**/TestResults
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/README.md
**/LICENSE
**/.gitignore
